<div class="bg-gray-100 flex items-center justify-center h-screen">
  <div
    class="w-100 overflow-hidden shadow-md"
  >
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img
          class="h-48 w-full object-cover md:w-48"
          src="https://via.placeholder.com/150"
          alt="Imagen"
        />
      </div>
      <div class="p-4">
        <div
          class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
        >
          Título
        </div>
        <h2 class="text-gray-900 text-lg font-semibold mt-2">Lorem Ipsum</h2>
        <p class="text-gray-700 mt-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          condimentum tincidunt justo, et venenatis est luctus in. Quisque ut
          justo in metus fringilla porta.
        </p>
        <p class="text-gray-700 mt-2">
          Pellentesque habitant morbi tristique senectus et netus et malesuada
          fames ac turpis egestas. Donec tristique ante sit amet justo
          tristique, at fringilla neque tincidunt.
        </p>
      </div>
    </div>
  </div>
</div>
