<div class="h-screen">
  <div class="p-10">
    <h1 class="text-3xl font-semibold mb-4">Contenido Principal</h1>
    <p>
      Aquí puedes agregar tu contenido principal. Este será el área principal de
      tu página web.
    </p>
    <!-- Información relevante -->
    <div class="mt-8">
      <h2 class="text-lg font-semibold mb-4">Información Relevante</h2>
      <p>
        Aquí puedes agregar información relevante que acompañe al contenido
        principal y al sidebar.
      </p>
    </div>
  </div>
</div>
